*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(banner.png);
    background-position: center;
    background-size: cover;
}
.form-box{
    width: 400px;
    height: 450px;
    position: relative;
    margin-left: 55%;
    margin-top: 30px;
    background-color: #F7F7FF;
    border-radius: 15px;
    overflow: hidden;
}
a{
    color: azure;
    font-size: 30px;
    font-family: 'Inter', sans-serif;  
    font-weight: bold;
    margin-left: 150px;
    text-decoration: none;
    position: relative;
    top: 30px;
}

.container a img{
    position: absolute;
    left: -90px;
    top: -20px;
    height: 77px;
}
.btn-box{
    position: absolute;
    height: 50px;
    width: 300px;
    background-color: #FFFFFF;
    margin-top: 40px;
    margin-left: 50px;
    border-radius:50px;
}
.toggle-btn{
    padding: 18px 53px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#span-login{
    color: #F7F7FF;
}
#span-color{
    color: #F7F7FF;
}
#span-signup{
    color: #E7272C;
}
#btn{
   top: 0;
   left: 0;
   position: absolute;
   width: 150px;
   height: 100%;
   background: linear-gradient(to left, #E7272C, #000000);
   border-radius: 30px;
   transition: .65s;
}
.input-group{
    top: 120px;
    position: absolute;
    width: 300px;
    transition: .65s;

}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #E1E1E7;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 300px;
    height: 50px;
    cursor: pointer;
    display: block;
    margin-top: 5%;
    background: linear-gradient(to bottom, #E7272C, #000000);
    border-radius: 30px;  
    border: none;
}
.checkbox{
    margin-left: 5px;
}
#remember-me, #terms{
    color: #867D7D;
    margin-left: 5px;
}
#forget-password{
    color: #867D7D;
    margin-left: 17%;
}
.input-group p{
    color: #867D7D;
    font-weight: 100;
    margin-left: 50px;
    margin-top: 5px;
}
.input-group p span{
    font-weight: bold;
    cursor: pointer;
}
#form-login{
    left: 50px;
}
#form-signup{
    left: 450px;
}

#form-signup input[type="text"], #form-signup input[type="tel"], #form-signup input[type="password"], #form-signup select {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #E1E1E7;
    outline: none;
    background: transparent;
}

select{
    appearance: none;
}
